<% content_for :extra_meta_tags do %>
  <meta http-equiv="refresh" content="0;url=<%=login_path%>" />
<% end %>
<div class="main-container">
<div class="container">
    You are being redirected
</div>